<div class="span4">
	<h1>Comments</h1>
</div>

<div class="span4">
	<div class="controls">
		<% if logged_in? %>
			<h2>Add a comment:</h2>
			<%= form_for(Comment.new, url: post_comments_path(@post)) do |f| %>
		        <%= f.text_area :body, :class => "input-xlarge", :id => "textarea", :rows => "3" %>
		        <br/>
		        <%= f.submit "Comment", :class => "btn btn-primary" %>
			<% end %>
		<% end %>
	</div>

	<p>This post has <%= @post.comments.size %> comments.</p>
	<div class="well">
		<% @post.comments.each do |comment| %>
	    	<p><%= display_name(comment.user) %></p>
	    	<p><%= comment.body %></p>
	    	<hr/>
		<% end %>
	</div>
</div>
