<section id="forms">
  <div class="row">
    <div class="span7 offset1" >
        <fieldset>
          <legend>
            <h1>
              <%= title %><hr/>
            </h1>
          </legend>

          <%= form_for(@post, :html => {:class => "form-horizontal well"} ) do |f| %>
            <% if @post.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

                <ul>
                <% @post.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="control-group">
              <label class="control-label" for="input01" style="font-size:medium">Title</label>
              <div class="controls">
                <%= f.text_field :title, :class => 'input-xlarge', :id=> 'input01' %>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="input02" style="font-size:medium">Url</label>
              <div class="controls">
                <%= f.text_field :url, :class => 'input-xlarge', :id => 'input02' %>
              </div>
            </div>

              <div class="control-group">
                <label class="control-label" for="select01" style="font-size:medium">Category list</label>
                <div class="controls">
                  <%= f.select :category_id, Category.all.collect { |cat| [cat.name, cat.id] }  %>
                </div>
              </div>
            
              <div class="form-actions">
                <%= f.submit submittitle, :class => 'btn btn-primary', :style => "font-size:medium" %> 
             </div>
          <% end %>
        </fieldset>
    </div>
  </div>

</section>








