<section id="forms">
  <div class="row">
    <div class="span5 offset1">
      <fieldset>
        <legend>
          <h1>Post details</h1>
        </legend>
        <div class="form-horizontal well">
          <div class="control-group">
            <label class="control-label">Title</label>
            <div class="controls">
              <label class="checkbox" style="font-size:16">
                <%= @post.title %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Url</label>
            <div class="controls">
              <label class="checkbox" style="font-size:16">
                <%= link_to(@post.url, fix_url(@post.url))%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Category</label>
            <div class="controls">
              <label class="checkbox" style="font-size:16">
                <%= @post.category.name %>
              </label>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</section>

<div class="row">
  <div class="span5 offset1">
    <ul class="breadcrumb">
      <li>
      	<a href="#">
      		<%= link_to 'Edit', edit_post_path(@post) %>
      	</a>
      	<span class="divider">/</span>
      	<a href="#">
      		<%= link_to 'Back to profile', user_path(@post.user) %>
      	</a>
      </li>
    </ul>
  </div>
</div>


