
<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Url:</b>
  <%= link_to(@post.url, fix_url(@post.url))%>
</p>

<p>
  <b>Category:</b>
  <%= @post.category.name %>
</p>

<div class="row">
  <div class="span7 offset1">
    <ul class="breadcrumb">
      <li>
      	<a href="#">
      		<%= link_to 'Edit', edit_post_path(@post) %>
      	</a>
      	<span class="divider">/</span>
      	<a href="#">
      		<%= link_to 'Back to profile', user_path(@post.user) %>
      	</a>
      </li>
    </ul>
  </div>
</div>


