<!doctype html<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postit</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
<body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
            <%= render 'layouts/navigation' %>  
        </div>
      </nav>
    </header>

<% if notice %>
<div class="span12">
  <!-- <div class='alert alert-error'> -->
    <p id="notice" class='alert alert-success' style="font-size:medium"><%= notice %></p>
  <!-- </div> -->
</div>
<% end %>

<%= yield %>

<div class="span12">
<% if Rails.env.development? %>
    <%= "DEBUG: #{controller.controller_name}::#{controller.action_name}" %>
<% end %>
</div>

</body>
</html>
